
.icon-up-hand:before { content: '\e800'; } /* '' */
.icon-print:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-zoom-in:before { content: '\e805'; } /* '' */
.icon-zoom-out:before { content: '\e806'; } /* '' */
.icon-resize-full:before { content: '\e807'; } /* '' */
.icon-resize-small:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-folder-open:before { content: '\e80a'; } /* '' */
.icon-arrows-cw:before { content: '\e80b'; } /* '' */
.icon-scissors:before { content: '\e80c'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-bookmark:before { content: '\e80e'; } /* '' */
.icon-cog-alt:before { content: '\e80f'; } /* '' */
.icon-floppy:before { content: '\e810'; } /* '' */
.icon-forward:before { content: '\e811'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */